/* App.css */

/* ... (styles globaux) ... */

:root {
  --primary-color: #1890ff;
  --dark-grey-1: #1C2127;
  --secondary-color: #2F343C;
  --outline-color: #252A31;
  --title-color: var(--primary-color);
  --button-text-color: #FFFFFF;
  --text-color: #ABB3BF;
  --link-color: #0a95f7;
}

body {
  background-color: var(--dark-grey-1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  height: 46px;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  color: var(--title-color);
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.menu-item.bp4-button {
  background-color: var(--secondary-color);
  border: 1px solid var(--outline-color);
}
.menu-item.bp4-button:hover {
  background-color: #3A3F47;
  border-color: #33383F;
}
.menu-item.bp4-button:active {
  background-color: var(--primary-color);
  border-color: #1C2127;
}

.menu-item:last-child {
  margin-right: 0;
}

.dashboard-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

/*.dashboard-button:hover {*/
  /* Ajouter des styles pour le bouton dashboard au survol ici */
/*}*/

.language-selector-dialog .bp4-dialog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.bp4-dialog-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.language-selector-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.language-selector-content .bp4-menu-item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
}

.language-selector-content .bp4-menu-item .bp4-icon {
  margin-right: 0;
  margin-bottom: 10px;
}

.language-selector-content .bp4-menu-item::before {
  display: none;
  content: none;
}

.language-flag {
  width: 200px;
  height: auto;
}

.language-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.language-text {
  color: var(--primary-color);
}

.bp4-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .language-selector-dialog-text {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .language-selector-dialog-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .language-selector-dialog-flags {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
.generator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dialog-box {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

.next-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.next-button:hover {
  background-color: var(--primary-color-hover);
}
