/* App.css */

/* ... (styles globaux) ... */

:root {
  --primary-color: #1890ff;
  --dark-grey-1: #1C2127;
  --secondary-color: #2F343C;
  --outline-color: #252A31;
  --title-color: var(--primary-color);
  --button-text-color: #FFFFFF;
  --text-color: #ABB3BF;
  --link-color: #0a95f7;
}

body {
  background-color: var(--dark-grey-1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  height: 46px;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  /* Ajouter ici des styles pour le logo ici, si nécessaire */
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  color: var(--title-color);
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.menu-item.bp4-button {
  background-color: #2F343C;
}
.menu-item.bp4-button:hover {
  background-color: #3A3F47;
}
.menu-item.bp4-button:active {
  background-color: var(--primary-color);
}


.menu-item:last-child {
  margin-right: 0;
}

.dashboard-button {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-button:hover {
  /* Ajouter des styles pour le bouton dashboard au survol ici */
}
