/* App.css */

/* ... (styles globaux) ... */

:root {
  --primary-color: #1890ff;
  --dark-grey-1: #1C2127;
  --secondary-color: #2F343C;
  --outline-color: #252A31;
  --title-color: var(--primary-color);
  --button-text-color: #FFFFFF;
  --button-hover-color: #40a0fa;
  --text-color: #ABB3BF;
  --input-field-bg: #2B2A2A;
  --radio-button-bg: var(--input-field-bg);
  --link-color: #0a95f7;
  --warning-color: #f70a0a;
}

body {
  background-color: var(--dark-grey-1);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  height: 46px;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  color: var(--title-color);
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.menu-item.bp4-button {
  background-color: var(--secondary-color);
  border: 0px solid var(--outline-color);
}
.menu-item.bp4-button:hover {
  color: var(--button-hover-color);
  border: none;
}
.menu-item.bp4-button:active {
  background-color: var(--button-hover-color);
  border: none;
}

.menu-item:last-child {
  margin-right: 0;
}

.dashboard-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-button:hover {
  background-color: var(--button-hover-color);
}

.language-selector-dialog .bp4-dialog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.bp4-dialog-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.language-selector-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.language-selector-content .bp4-menu-item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
}

.language-selector-content .bp4-menu-item .bp4-icon {
  margin-right: 0;
  margin-bottom: 10px;
}

.language-selector-content .bp4-menu-item::before {
  display: none;
  content: none;
}

.language-flag {
  width: 200px;
  height: auto;
}

.language-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.language-text {
  color: var(--primary-color);
}

.bp4-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .language-selector-dialog-text {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .language-selector-dialog-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .language-selector-dialog-flags {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
.generator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dialog-box {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  max-height: calc(100% - 90px);
  overflow-y: auto;
}

.dialog-box-title {
  text-align: center;
  color: var(--title-color);
  margin-top: 5px;
  margin-bottom: 20px;
}


.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--input-field-bg);
  color: var(--text-color);
}

.input-field.error {
  border-color: var(--warning-color);
}

.choices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice {
  width: calc(33.3333% - 10px);
  margin-bottom: 10px;
}

/* Masquer l'input radio d'origine */
.choice input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style pour les boutons radio non sélectionnés */
.choice input[type="radio"] + label {
  display: inline-block;
  padding: 5px 10px;
  padding-left: 30px; /* Ajouter un espace à gauche pour le rond */
  border: 2px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--radio-button-bg);
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

/* Créer un rond personnalisé avec le pseudo-élément ::before */
.choice input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  background-color: var(--input-field-bg);
}

/* Style pour les boutons radio sélectionnés */
.choice input[type="radio"]:checked + label {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* Modifier la couleur de la bordure du rond personnalisé lorsqu'il est sélectionné */
.choice input[type="radio"]:checked + label::before {
  border-color: var(--primary-color);
}

/* Ajouter un cercle rempli à l'intérieur du rond personnalisé lorsqu'il est sélectionné */
.choice input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary-color);
}



.next-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.next-button:hover {
  background-color: var(--button-hover-color);
}


.next-button.error {
  background-color: var(--warning-color);
}
